@charset "ISO-8859-1";
body {
  background-color: #e5e5e5;
}

.form {
  width: 600px;
  margin: 0 auto;
  background: #FFFFFF;
  padding: 20px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  box-shadow: 0 0 5px #CCCCCC;
  margin-top: 40px;
}

.title h1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  color: #0000a0;
}

.inputform {
  margin-bottom: 20px;
}

.inputform label {
  font-size: 16px;
  display: block;
  margin-bottom: 5px;
}

.inputform input[type="text"],
.inputform input[type="password"],
.inputform input[type="email"] {
  width: 97%;
  padding: 10px;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px #CCCCCC;
  font-size: 16px;
  margin-bottom: 15px;
}

.Register {
  text-align: right;
  margin-bottom: 20px;
}

.Register a {
  font-size: 14px;
  color: #3B5998;
  text-decoration: none;
}

.SignUp input[type="submit"] {
  width: 100%;
  background: #3B5998;
  color: #FFFFFF;
  border: none;
  padding: 10px;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}

.SignUp input[type="submit"]:hover {
  background: #2B3E50;
}
